example.xml

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <!-- Definici贸n del tipo complejo "persona" -->
  <xs:element name="persona">
    <xs:complexType>
      <xs:sequence>
        <!-- Definici贸n de los elementos -->
        <xs:element name="nombre" type="xs:string"/>
        <xs:element name="edad" type="xs:integer"/>
        <xs:element name="email" type="xs:string">
          <!-- Restricci贸n de patr贸n para el formato de email -->
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:pattern value="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="esEmpleado" type="xs:boolean"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
